/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
    margin-left: 1rem !important;
}
.container-fluid>a>i{
    font-size: 2.4rem;
    color: dodgerblue;
}
.nav-link{
    color: #222222 !important;
    font-size: 1.2rem !important;
}
.nav-link:hover{
    text-decoration: underline;
}
/* card */

.card:hover{
  background-color: rgba(0, 0, 0, 0.1); 
}
.col>a{
    text-decoration: none;
}
.add-btn{
    background-color: dodgerblue !important;
}
/* footer */
.f-info-links a{
    text-decoration: none !important;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline !important;
}
.f-info-links,
.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    width: 100%;
    background-color: #ebebeb;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
   
    
}